h1{
    font-size: 50px;
    color:rgb(1, 99, 210);
    text-align: center;
}
#tab{
    border: 1px transparent;
    width:350px;
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-style:normal ;
}
input{
    padding:10px;
    border-radius: 5px;
    border: 1px solid;
    width:300px;
}
#button {
    background-color: rgb(29, 120, 238);
    border: 1px transperant;
    color: white;
    width:320px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }